<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faixas</title>
    <link rel="stylesheet" href="/faixas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
        <a href="/">Início</a>
        <a href="/artistas">Artistas</a>
        <a href="/discos">Discos</a>
        <a href="/faixas">Faixas</a>
        <a href="/generos">Gêneros</a>
    </nav>
</header>


    <main class="main-content">
        <div class="container">
            <a href="/faixas/add" class="btn btn-add"><i class="fas fa-plus-circle"></i> Adicionar Faixa</a>
            
            <div class="faixa-grid">
                <% faixas.forEach(function(faixa) { %>
                    <div class="faixa-card">
                        <div class="faixa-info">
                            <h3 class="faixa-title"><%= faixa.titulo %></h3>
                            <p><%= faixa.duracao %></p>
                            <button onclick="window.location.href='/faixas/<%= faixa.id %>'" class="btn btn-view">Ver</button>
                            <form action="/faixas/<%= faixa.id %>" method="POST" onsubmit="return confirm('Você tem certeza que deseja excluir esta faixa?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-delete">Excluir</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </main>
</body>
</html>
