<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Gênero</title>
    <link rel="stylesheet" href="/addGenero.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo-favico.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <a href="/">Início</a>
            <a href="/artistas">Artistas</a>
            <a href="/discos">Discos</a>
            <a href="/faixas">Faixas</a>
            <a href="/generos">Gêneros</a>
        </nav>
    </header>


    <main class="form-container">
        <h1>Adicionar Novo Gênero</h1>
        <form action="/generos/add" method="POST">
            <div class="form-group">
                <label for="nome">Nome do Gênero</label>
                <input type="text" id="nome" name="nome" placeholder="Ex.: Rock" required>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-submit">Adicionar Gênero</button>
            </div>
        </form>
    </main>
</body>
</html>
