body, h1, h2, h3, p, ul, li, a, button, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
    text-align: center; 
}

header {
    background-color: #333;
    padding: 10px 0;
    margin-bottom: 20px;
}

header nav {
    display: inline-block; 
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 700;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ff9800;
}

.add-genre-button {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    margin: 20px 0;
    transition: background-color 0.3s;
}

.add-genre-button:hover {
    background-color: #45a049;
}

.generos-list {
    margin-top: 20px;
    display: inline-block; 
    text-align: left; 
}

.genero-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
    width: 400px; 
}

.genero-item:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.genero-name {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    text-align: left;
    padding: 0;
    transition: color 0.3s;
}

.genero-name:hover {
    color: #4caf50;
}

.genero-options button,
.genero-options form button {
    background: none;
    border: none;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
}

.genero-options button:hover,
.genero-options form button:hover {
    color: #ff5722;
}

.genero-options i {
    font-size: 14px;
}
